.set {
    background-color: transparent;
    opacity: 0.8;
  
    
}

.accord {
    border: solid 4px maroon;
    border-radius: 10px;
}


.piece {
   border: solid 4px white;
   border-radius: 5px;
}


.matchButton {
    border-radius: 50px;
    background-color: maroon;
    color: white;
    border-color: black;
    border-bottom-style: solid;
    border-bottom: 4px solid black;
}


.matchButton:hover {
    background-color: darkred;
    color: white;
    border-color: black;
}

.matchButton:active {
    background-color: darkred !important;
    color: white;
    border-color: black !important;
}


.sw {
    text-decoration: underline;
}

.sx {
    text-decoration: underline maroon;
}