.bt5 {
    background-color: maroon;
    color: white;
    border-color: black;
    border-bottom-style: solid;
    border-bottom: 4px solid black;
    text-decoration: underline;
    border-radius: 50px;
}


.bt5:hover {
    background-color: darkred;
    color: white;
    border-color: black;
}

.bt5:active {
    background-color: darkred !important;
    color: white;
    border-color: black !important;
}

.ff6 {
    border: solid 2px black;
    border-radius: 20px;
}

.ff7 {
    text-decoration: underline;
}