.loginButton {
    background-color: maroon;
    color: white;
    border-color: black;
    border-bottom-style: solid;
    border-bottom: 4px solid black;
    border-radius: 50px;
    text-decoration: underline;
}


.loginButton:hover {
    background-color: darkred;
    color: white;
    border-color: black;
}

.loginButton:active {
    background-color: darkred !important;
    color: white;
    border-color: black !important;
}

.controlForm {
    border: solid 2px black;
    border-radius: 20px;
}

.word {
    text-decoration: underline;
}

.loginContainer {
    border: solid 4px maroon;
    border-radius: 20px;
    padding-bottom: 14px;
    padding-top: 2px;
}