.profileContainer{
    border: solid 4px maroon;
    border-radius: 20px; 
    max-width: 600px;
    height: 280px;
}

.btUpdate {
    background-color: maroon;
    color: white;
    border-color: black;
    border-bottom-style: solid;
    border-bottom: 4px solid black;
    text-decoration: underline;
    border-radius: 50px;
}


.btUpdate:hover {
    background-color: darkred;
    color: white;
    border-color: black;
}

.btUpdate:active {
    background-color: darkred !important;
    color: white;
    border-color: black !important;
}


.pot {
    
    border-radius: 20px;
    padding-left: 7px;
    border: solid 1px black;
    background-color: rgba(255, 255, 255, 0.6);

}


